# Custom error pages
ErrorDocument 403 /index.php?error=403
ErrorDocument 404 /index.php?error=404
ErrorDocument 410 /index.php?error=410
ErrorDocument 500 /index.php?error=500

# Session storage & cookie configuration
php_value session.name __Secure-ID
php_value session.cache_limiter private
php_value session.cache_expire 60
php_value session.cookie_lifetime 0
php_value session.cookie_path /
php_value session.cookie_samesite Strict
php_flag session.cookie_secure On
php_flag session.cookie_httponly On
php_value session.cookie_domain .${SERVER_NAME}

# Base directory for include() & require()
php_value include_path ../include

# Configuration for PHP scripts
SetEnv SITE_NAME "viral32111's website"
SetEnv SITE_DOMAIN ${SERVER_NAME}
SetEnv PAGE_DIRECTORY ../page

# Add basic CSP if it does not exist (e.g. on an error page)
Header setifempty Content-Security-Policy "default-src 'none'; base-uri 'self'; style-src 'self'; script-src 'self'; img-src 'self'; media-src 'self'; frame-ancestors 'none'; form-action 'none'; upgrade-insecure-requests;"

# Cache for 1 hour by default
Header set Cache-Control "max-age=3600, private"

# Remove faulty expires header
Header unset Expires

# Enable advanced redirects
RewriteEngine On

# If the request path is empty, then redirect to the homepage
RewriteCond %{REQUEST_URI} ^/$ [NC]
RewriteRule ^ %{HTTP:X-Forwarded-Proto}://${SERVER_NAME}/home [R=307,L]

# If the request path is not empty, then internally redirect it to the PHP script
RewriteCond %{REQUEST_URI} !^/$ [NC]
RewriteRule ^([\w-/]+)$ index.php?page=$1 [QSA,L]

# Make the PHP script not exist when directly requested
RewriteCond %{REQUEST_URI} ^/index.php [NC]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^ - [R=404,L]
