# Custom error pages
ErrorDocument 403 /index.php?error=403
ErrorDocument 404 /index.php?error=404
ErrorDocument 410 /index.php?error=410
ErrorDocument 500 /index.php?error=500

# Session storage & cookie configuration
php_value session.name __Secure-ID
php_value session.cache_limiter private_no_expire
php_value session.cache_expire 60
php_value session.cookie_lifetime 315576000
php_value session.cookie_path /
php_value session.cookie_samesite Strict
php_flag session.cookie_secure On
php_flag session.cookie_httponly On
php_value session.cookie_domain .${SERVER_NAME}

# Base directory for include() & require()
php_value include_path ../include

# Configuration for PHP scripts
SetEnv SITE_NAME "viral32111's website"
SetEnv SITE_DOMAIN ${SERVER_NAME}
SetEnv PAGE_DIRECTORY ../page

# Enable advanced redirects
RewriteEngine On

# If the request path is empty, then redirect to the homepage
RewriteCond %{REQUEST_URI} ^/$ [NC]
RewriteRule ^ /home [R=308,L]

# If the request path is not empty, then internally redirect it to the PHP script
RewriteCond %{REQUEST_URI} !^/$ [NC]
RewriteRule ^(\w+)$ index.php?page=$1 [QSA,L]

# Redirect to the primary domain (if visiting from IP address, or www. subdomain)
#RewriteCond %{HTTP_HOST} !^${SERVER_NAME}$ [NC]
#RewriteRule ^ %{REQUEST_SCHEME}://${SERVER_NAME}%{REQUEST_URI} [R=308,L]

# Deny requests for websites that are not us with 410 gone to remove from search engines
#RewriteCond %{HTTP_HOST} !${SERVER_NAME}$ [NC]
#RewriteCond %{HTTP_HOST} !^${SERVER_ADDRESS}$
#RewriteRule ^ - [G,L]

# Block image requests that did not originate from this website (allow empty referer)
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !${SERVER_NAME} [NC]
#RewriteRule \.(jpg|png|webp)$ - [F,L]

# Make the home & error pages without .php extension seem like they do not exist
#RewriteRule ^/(home|error)$ - [R=404,L]

# Make pages accessed with the .php extension seem like they do not exist
#RewriteCond ${DIRECTORY_WEBSITE}/${SERVER_NAME}/pages%{REQUEST_URI} -f
#RewriteCond %{ENV:REDIRECT_STATUS} ^$
#RewriteRule \.php$ - [R=404,L]

# Allow accessing pages without the .php extension
#RewriteCond ${DIRECTORY_WEBSITE}/${SERVER_NAME}/pages%{REQUEST_URI}.php -f
#RewriteRule ^ %{REQUEST_URI}.php [L]

<IfModule substitute_module>

	# Rules for all documents
	<Files *>

		# Only apply to HTML content
		AddOutputFilterByType SUBSTITUTE text/html

		# Remove HTML comments
		Substitute s/<!--.*-->//q

		# Remove leading whitespace and empty lines
		Substitute s/^\s+//q

	</Files>

</IfModule>
