/* Font across every page */
* {
	font-family: "Verdana";
	font-size: 13px;
}

/* Maximum page width */
body { width: 675px; }

/* Responsive maximum page width */
@media ( max-width: 675px ) {
	body { width: 100%; }
}

/* Minimalistic dividers for header & footer */
hr {
	height: 1px;
	border: none;
	background: #000000;
	margin: 10px 0px 10px 0px;
}

/* Links with destinations that underline on hover */
a { text-decoration: none; }
a[ href ]:hover { text-decoration: underline; }

/* Disable links with no destination */
a:not( [ href ] ) { color: #545454; }
