/* Large title */
header h1 {
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	margin: 0px 0px 10px 0px;
}

/* Centered avatar */
header h1 img {
	vertical-align: text-bottom;
	margin-right: 10px;
}

/* Spaced-out navigation links */
header nav {
	display: flex;
	text-align: center;
	justify-content: space-between;
	margin: 0px 10px 0px 10px;
}

/* Brackets around navigation links */
header nav a::before { content: "["; }
header nav a::after { content: "]"; }

/* Bold navigation link for current page */
header nav a.current { font-weight: bold; }
