/* Everything */
* {
	font-family: "Verdana";
	font-size: 13px;
}

/* Body */
body {
	width: 675px;
}

/* Dividers */
hr {
	height: 1px;
	background: #000000;
	border: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Links */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
