* {
	font-family: "Verdana";
	font-size: 13px;
}

body {
	width: 660px;
}

h1 {
	margin: 0px 0px -5px 0px;
	font-size: 24px;
	font-weight: normal;
}

h1 img {
	vertical-align: text-bottom;
	margin-right: 5px;
}

ul {
	padding-left: 15px;
	list-style: none;
}

ul li:before {
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	content: "\2022";
}

img[src="img/selfie.png"] {
	position: fixed;
	right: 0px;
	bottom: 0px;
}
