<!-- Tab title -->
<title>viral32111's website</title>
	
<!-- Viewport for mobile viewers -->
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- Generic information -->
<meta name="url" content="https://viral32111.local/">
<meta name="description" content="Welcome to my website!">
<meta name="subject" content="My personal website.">
<meta name="keywords" content="viral32111,programmer,developer,programming,coding,developing,freelance,conspiracy servers,community">
<meta name="language" content="en_gb">

<!-- My information -->
<meta name="author" content="viral32111,contact@viral32111.com">
<meta name="owner" content="viral32111,contact@viral32111.com">
<meta name="copyright" content="viral32111,contact@viral32111.com">

<!-- Information for embeds -->
<meta name="theme-color" content="#aea49a">
<meta name="og:type" content="website">
<meta name="og:url" content="https://viral32111.local">
<meta name="og:site_name" content="viral32111's website">
<meta name="og:title" content="Home">
<meta name="og:description" content="Welcome to my website!">
<meta name="og:image" content="/img/avatar-circle-448.webp">
<meta name="og:image:type" content="image/webp">
<meta name="og:image:alt" content="viral32111's avatar">
<meta name="og:locale" content="en_gb">

<!-- Required stylesheets -->
<link rel="stylesheet" href="/css/global.css" type="text/css">
<link rel="stylesheet" href="/css/header.css" type="text/css">
<link rel="stylesheet" href="/css/content.css" type="text/css">
<link rel="stylesheet" href="/css/footer.css" type="text/css">

<!-- Tab icon -->
<link rel="icon" href="/img/avatar-circle-128.webp" type="image/webp">

<!-- Web crawlers/search engine indexers -->
<meta name="robots" content="index,follow,noarchive,noimageindex">
