/* Defaults */
* {
	/* Font */
	font-family: "Verdana";
	font-size: 13px;
}

/* Body */
body {
	/* Position */
	width: 675px;
}

@media ( max-width: 690px ) {
	body {
		width: 94%;
	}
}

/* Horizontal Lines */
hr {
	/* Position */
	height: 1px;

	/* Color */
	background: #000000;

	/* Border */
	border: 0;
}

/* Links */
a {
	/* Font */
	text-decoration: none;
}

a:hover {
	/* Font */
	text-decoration: underline;
}

a[target="_blank"]:after {
	/* Position */
	margin: 0px 3px 0px 5px;

	/* Content */
	content: url( "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==" );
}