/* Headings */
header h1 {
	/* Position */
	margin: 0px 0px 4px 0px;
	text-align: center;

	/* Font */
	font-size: 24px;
	font-weight: normal;
}

header h1 img {
	vertical-align: text-bottom;
	margin-right: 5px;
}

/* Navigation */
header nav {
	/* Position */
	text-align: center;
}

header nav a {
	/* Position */
	display: inline-block;
	margin: 0px 8px 0px 8px;
}

header nav a.selected {
	/* Font */
	font-weight: bold;
}

@media ( max-width: 370px ) {
	header nav {
		text-align: center;
	}
	
	header nav a {
		display: block;
	}
}
